<nav class="navbar sticky-top    navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Surf-Up</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/surfsites">All Surfsites</a>
                <a class="nav-link" href="/surfsites/new">New Suefsite</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) { %> 
                <a href="/users/register" class="nav-link">Register</a>
                <a href="/users/login" class="nav-link">Login</a>
                <% } else { %> 
                <a href="/users/logout" class="nav-link">Logout</a>
                <% }  %>
            </div>
        </div>
    </div>
</nav>